
.bloc-logo {
    position: relative;
    width: 100%;
    height: 200px;
  }
  
  #logo-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .footer {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
  }
  
  .socialMedia {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  p {
    margin: 0;
  }



/*

.bloc-logo {
    bottom: 0;
    width: 100%;
    height: 200px;
  }

  .bloc-logo canvas,
  .bloc-logo .footer {
    width: 100%;
    height: 200px;
  }


.footer {
    width: 100%;
    height: 100%;

   
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    background: transparent;
    
   
}



/*animation: changeColor 10s infinite; 
@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}*/




.socialMedia svg {
    color: rgb(255, 255, 255);
    margin: 20px;
    font-size: 70px;
    cursor: pointer;
   
}

.footer p {
    color: white;
}

@media only screen and (max-width: 600px) {
    .footer svg {
        font-size: 50px;
    }
}